{% load static %}

{% block content %}
<div id="form-wrapper">
    {{ form.non_field_errors }}
    <form method="post" hx-post="{% if form.instance.pk %}{% url "form" form.instance.pk %}{% else %}{% url "form-creation"  %}{% endif %}" hx-swap="outerHTML" hx-target="#form-wrapper">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.registration_number.id_for_label }}" class="form-label">Evidenčné číslo vozidla</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {{form.registration_number}}
                    <div class="invalid-feedback">
                        {{ form.registration_number.errors.0 }}
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.transport_priority.id_for_label }}" class="form-label">Priorita</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {{ form.transport_priority }}
                    <div class="invalid-feedback">
                        {{ form.transport_priority.errors.0 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.driver_name.id_for_label }}" class="form-label">Meno šoféra</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {{form.driver_name}}
                    <div class="invalid-feedback">
                        {{ form.driver_name.errors.0 }}
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.transport_status.id_for_label }}" class="form-label">Priorita</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {{ form.transport_status }}
                    <div class="invalid-feedback">
                        {{ form.transport_status.errors.0 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.supplier.id_for_label }}" class="form-label">Dodávateľ</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {{ form.supplier }}
                    <div class="invalid-feedback">
                        {{ form.supplier.errors.0 }}
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.gate.id_for_label }}" class="form-label">Brána</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {{ form.gate }}
                    <div class="invalid-feedback">
                        {{ form.gate.errors.0 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.carrier.id_for_label }}" class="form-label">Dopravca</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {{form.carrier}}
                    <div class="invalid-feedback">
                        {{ form.carrier.errors.0 }}
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.note.id_for_label }}" class="form-label">Poznámka</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {{form.note}}
                    <div class="invalid-feedback">
                        {{ form.note.errors.0 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.process_start.id_for_label }}" class="form-label">Začiatok spracovania</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {% comment %} <input type="text" class="form-control {% if form.process_start.errors %}is-invalid{% endif %}" id="{{ form.process_start.id_for_label }}" value="{% if form.process_start.value %}{{ form.process_start.value|date:'d.m.Y H:i:s' }}{% endif %}" name="{{ form.process_start.html_name }}"> {% endcomment %}
                    {{ form.process_start }}
                    <div class="invalid-feedback">
                        {{ form.process_start.errors.0 }}
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="{{ form.process_finish.id_for_label }}" class="form-label">Koniec spracovania</label>
                        {% include 'transports/elements/field_change.html' %}
                    </div>
                    {% comment %} <input type="text" class="form-control {% if form.process_finish.errors %}is-invalid{% endif %}" id="{{ form.process_finish.id_for_label }}" value="{% if form.process_finish.value %}{{ form.process_finish.value|date:'d.m.Y H:i:s' }}{% endif %}" name="{{ form.process_finish.html_name }}"> {% endcomment %}
                    {{ form.process_finish }}
                    <div class="invalid-feedback">
                        {{ form.process_finish.errors.0 }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="{{ form.load.id_for_label }}" name="{{ form.load.html_name }}" {% if form.load.value %}checked="checked"{%endif%}>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label" for="{{ form.load.id_for_label }}">Nakládka</label>
                                    {% if request.user.is_superuser %}
                                    {% include 'transports/elements/field_change.html' %}
                                    {% endif %}
                                </div>
                                <div class="invalid-feedback">
                                    {{ form.load.errors.0 }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="{{ form.unload.id_for_label }}" name="{{ form.unload.html_name }}" {% if form.unload.value %}checked="checked"{%endif%}>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label" for="{{ form.unload.id_for_label }}">Vykládka</label>
                                    {% if request.user.is_superuser %}
                                    {% include 'transports/elements/field_change.html' %}
                                    {% endif %}
                                </div>
                                <div class="invalid-feedback">
                                    {{ form.unload.errors.0 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="{{ form.canceled.id_for_label }}" name="{{ form.canceled.html_name }}" {% if form.canceled.value %}checked="checked"{%endif%}>
                        <div class="d-flex justify-content-between">
                            <label class="form-check-label" for="{{ form.canceled.id_for_label }}">Zrušená</label>
                            {% include 'transports/elements/field_change.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                </div>
                <div class="col text-end">
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-info">Zobraziť zmeny</button>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Uložiť zmeny</button>
                </div>
            </div>
        </div>
    </form>

    {% comment %} TODO: zobrazit zmeny na preprave - zmeny na preprave su dostupne cez premennu {{ changes }}{% endcomment %}

    <script>
        $.datetimepicker.setLocale('sk');
        $('#{{ form.process_start.id_for_label }}').datetimepicker({
            lazyInit: false,
            format:'d.m.Y H:i:s',
        });
        $('#{{ form.process_finish.id_for_label }}').datetimepicker({
            lazyInit: false,
            format:'d.m.Y H:i:s',
        });

        // make notifications
        {% for message in messages %}
            $.notify("{{ message }}", "{{ message.tags }}");
        {% endfor %}

        // send event to refetch events on calendar and close modal
        {% if not form.errors and saved %}
            document.dispatchEvent(new Event('transportSaved', {"bubbles":true, "cancelable":false}));
        {% endif %}

        // display tooltips
        {% if request.user.is_superuser %}
            tippy('[data-tippy-content]');
        {% endif %}
    </script>
</div>
{% endblock %}