venv
__pycache__/
*.py[cod]
.DS_STORE

migrations
**/migrations

src/db.sqlite3
src/main/.env

node_modules/
package-lock.json

static/js/main.js
static/js/week.js
static/js/fullcalendar
static/css/fullcalendar

*.dot
*.psd
