venv
__pycache__/
*.py[cod]
.DS_STORE

migrations
**/migrations

src/db.sqlite3
src/main/.env

node_modules/
package-lock.json

src/static/js/main.js
src/static/js/week.js
src/static/js/fullcalendar
src/static/css/fullcalendar

*.dot
*.psd
