<!-- Good luck! -->
<!-- Prva verzia, treba este prelinkovat veci a zmenit pathy + pridat css -->
<div class="horna_navigacia">
    <div class="kalendar_cast" style = "position:relative; left:20px;">
        <img src="{% static 'images/calendar.svg' %}" alt="logo_calendar" class="piktogram">
        <a href="test.html">
            <img src="{% static 'images/arrow_left.svg' %}" alt="arrow_left" class="piktogram">
        </a>
        <div class="week-day_text">
            24.11.2021
            -
            31.11.2021
        </div>
        <a href="test.html">
            <img src="{% static 'images/arrow_right.svg' %}" alt="arrow_right" class="piktogram">
        </a>
        |
        <div class="dnes_text">
            <a href="#" class="a_dnes_text">
                dnes
            </a>
        </div>   
    </div>
    <div class="prava_cast">
        <div class="text_cast">
            <!-- Treba este dorobit zobrazovanie iba pre specificke skupiny-->
            <a href="{% url 'form/' %}" class="clicable_text_inside">
                Pridaj Prepravu
            </a>
            <div class="dropdown">
                <span>Stranky</span>
                <div class="dropdown_item">
                    <a href="{% url 'tyzden/' %}">Tyzdenny pohlad</a>
                    <a href="{% url 'den/' %}">Denny pohlad</a>
                    <a href="{% url 'tabulka/' %}">Tabulkovy pohlad</a>
                </div>
            </div>
            <a href="{% url 'admin/' %}" class="clicable_text_inside">
                Administracia
            </a>
        </div>
        Prihlaseny je XXX
        <div class="logout_cast">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="logout_pic">
                <img src="{% static 'images/power-button-symbol.svg' %}" alt="logout_box">
            </a>
        </div>
    </div>  
</div>