{% load static %}
{% comment %} TODO: Prosim pomenme slovenske nazvy class a idciek a podobne na anglicke ekvivalenty. Cela codebase je tvorena v anglictine, pokracujme v tom, nech to je jednotne. {% endcomment %}
<div class="upper_navigation">
    <div id="loader" class="d-none">
        Načítavanie...
    </div>
    <div class="calendar_part">
        <img src="{% static 'images/calendar.svg' %}" alt="logo_calendar" class="icon">
        {% if perms.transports.calendar_move_range and calendar_controls %}
            <a href="#" id="calendar_prev">
                <img src="{% static 'images/arrow_left.svg' %}" alt="arrow_left" class="icon">
            </a>
        {% endif %}

        <div id="week_day_text" class="px-2 white-bg">
            ...
        </div>
        {% if perms.transports.calendar_move_range and calendar_controls %}
            <a href="#" id="calendar_next">
                <img src="{% static 'images/arrow_right.svg' %}" alt="arrow_right" class="icon">
            </a>
            |
            <a href="#" id="calendar_today" class="white-bg px-2 ms-3">
                dnes
            </a>
        {% endif %}
    </div>
    <div class="right_part">
        <div class="text_part">
            <!-- TODO: Treba este dorobit zobrazovanie iba pre specificke skupiny-->
            {% if perms.transports.add_transport %}
            <a href="{% url 'form-creation' %}" id="add-transport" class="clickable_text_inside" hx-get="{% url 'form-creation' %}" hx-target="#transport-detail" hx-indicator=".loading-svg-wrapper" hx-swap="innerHTML">
                Pridaj prepravu
            </a>
            {% endif %}
            <div class="dropdown">
                <a href="#" class="clickable_text_inside">Stránky <i class="fas fa-caret-down fs-6"></i></a>
                <div class="dropdown_item">
                    {% if perms.accounts.weekly_view%}
                    <a href="{% url 'week' %}">Týždenný pohľad</a>
                    {% endif %}
                    {% if perms.accounts.daily_view%}
                    <a href="{% url 'day' %}">Denný pohľad</a>
                    {% endif %}
                    {% if request.user.is_superuser%}
                    <a href="{% url 'table' %}">Tabuľkový pohľad</a>
                    {% endif %}
                </div>
            </div>
            <!-- funguje-->
            {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="clickable_text_inside">
                    Administrácia
                </a>
            {% endif %}
        </div>
        <div class="pe-4">
            <span class="fw-normal">Prihlásený je </span>{{ request.user }}.
        </div>
        <a href="{% url 'logout' %}" class="logout_pic">
            <img src="{% static 'images/power-button-symbol.svg' %}" alt="logout_box">
        </a>
    </div>
</div>

<script>
    $('#add-transport').click(() => {
        // when transport detail is put into modal, show it
        document.addEventListener('htmx:beforeRequest', (e) => {
            document.querySelector('#transport-detail').innerHTML = '';
            window.modal.show()
        }, {once: true});
    });
</script>
