{% extends 'base.html'%}
{% load static %}
{% block head %}
  <script src="{% static 'js/fullcalendar/main.min.js' %}"></script>
  <link href="{% static 'css/fullcalendar/main.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/week.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="calendar" class="full-height"></div>

  <script>
    // used in week.js
    const transports_list_url = '{{ request.scheme }}://{{ request.get_host }}{% url "api-transports-list" %}';
    const base_host = '{{ request.scheme }}://{{ request.get_host }}';
  </script>
{% endblock %}
