{% extends 'base.html'%}
{% load static %}
{% block head %}
  <script src="{% static 'js/fullcalendar/main.min.js' %}"></script>
  <link href="{% static 'css/fullcalendar/main.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/week.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="color-helper">
    <i class="fa fa-info"></i>
  </div>
  <div id="calendar"></div>

  <script>
    // used in week.js
    const transports_list_url = '{{ request.scheme }}://{{ request.get_host }}{% url "api-transports-list" %}';
    const base_host = '{{ request.scheme }}://{{ request.get_host }}';
    const perms = {
      calendar_history: {% if perms.accounts.calendar_history %}true{% else %}false{% endif %},
      calendar_editable: {% if perms.accounts.calendar_editable %}true{% else %}false{% endif %},
      calendar_extended: {% if perms.accounts.calendar_extended and not request.user.is_superuser %}true{% else %}false{% endif %}
    };

    document.addEventListener('DOMContentLoaded', function () {
      tippy('#color-helper', {
        content: '{% include 'transports/elements/week/color_helper.html' %}',
        allowHTML: true,
      });
    });
  </script>
{% endblock %}
