:root {
    --main-blue: #00538B;
    --main-yellow: #FFCD00;
    --secondary-blue: #0099D4;
    --secondary-blue-light: #A3D8E7;
    --secondary-green: #007D4A;
    --secondary-green-light: #C2DDB0;
    --secondary-orange: #EE9800;
    --secondary-orange-light: #F5E6C9;
    --secondary-red: #AE1022;
    --secondary-red-light: #F1CDC5;
    --secondary-purple: #7B67A8;
    --secondary-purple-light: #BDB5DA;
    --secondary-gray: #484D52;
    --secondary-gray-light: #DAE0E3;
}

#calendar {
    height: calc(100vh - 100px);
}

.bg-primary, .btn-primary {
    background-color: var(--main-blue) !important;
}

body {
    font-family: 'Exo', sans-serif;
    overflow: hidden;
}

.hover-shadow-large {
    transition: box-shadow 200ms ease;
}

.hover-shadow-large:hover {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important;
}

.neu-shadow {
    box-shadow: 20px 20px 60px #004776,
    -20px -20px 60px #005fa0;
}

.full-height {
    height: 100vh;
}

.fc-timegrid tr {
    height: 3em;
}

.fc-timegrid-event {
    overflow: hidden;
}

.fc .fc-timegrid-col.fc-day-today {
    background: var(--secondary-red-light) !important;
}

tr:nth-child(odd) {
    border-color: var(--secondary-gray-light);
    border-right-color: inherit;
}

.fc-scrollgrid-section-header {
    border: 1px solid black;
}

.event-ribbon {
    display: inline-block;
    padding: 2px 5px !important;
    margin-bottom: 5px;
    border-radius: 2px;
}

#id_canceled:checked {
    background-color: var(--secondary-red);
    border-color: var(--secondary-red);
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    background: var(--main-blue) !important;
}

label {
    display: block;
}

.notifyjs-corner {
    z-index: 9999 !important;
}

/*NAV PART*/

.horna_navigacia {
    background: #00538B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: white;
}

.kalendar_cast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100%;
    margin-left: 20px;
}

.prava_cast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100%;
}

.text_cast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2em;
}

.text_cast a {
    transition: color 0.1s;
}

.text_cast a:hover {
    color: var(--main-yellow);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_item {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    z-index: 9001;
    border-radius: 2px;
    border: 1px solid var(--secondary-gray);
}

.dropdown_item a {
    display: block;
    color: var(--main-blue);
    padding: 10px;
    text-decoration: none;
    border-bottom:1px solid white;
    transition: background-color 0.1s;
}

.dropdown:hover .dropdown_item {
    display: block;
}

.dropdown:hover .clickable_text_inside {
    color: var(--main-yellow);
}

.dropdown_item a:hover {
    background-color: var(--main-yellow);
    color: var(--main-blue);
}

.piktogram {
    max-height: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.clickable_text_inside {
    margin-left: 1em;
    margin-right: 1em;
    color: white;
}

.horna_navigacia {
    font-weight: bold;
}

.white-bg {
    background-color: white;
    color:#00538B;
    transition: all 0.1s;
    border-radius: 1px;
}

a.white-bg:hover {
    box-shadow: 1px 1px 5px var(--secondary-gray);
    background-color: var(--main-yellow);
    color: white;
}

a {
    color:#00538B;
}

a.logout_pic {
    max-height: 100%;
    margin-left: 0.5em;
}

#logout_img {
    display: block;
}

.dnes_text a:hover {
    background-color: yellow;
}
